<!-- @for (item of cartitems; track $index) {
<img src="{{item.images[0]}}" alt="">
} -->

<section class="cart">
    <div class="container">
        <div class="header">Cart</div>
        @if (cartitems.length==0) {
        <div class="Empty">Empty !</div>
        }@else {
        @for (product of cartitems; track $index) {
        <div class="item">
            <div class="item_description">
                <div class="item-img"><img src="{{ product.images}}" alt=""></div>
                <div class="item-text">
                    <p>{{product.title}}</p>
                    <p> product id: {{product.id}}</p>
                </div>
            </div>
            <div class="item_sitting">
                <button (click)="increase(product.id)" class="quantity-btn">+</button>

                <p>{{product.quantity}}</p>

                <button (click)="decrease(product.id)" class="quantity-btn">-</button>

                <button (click)="removeItem(product.id)" class="remove-btn">Remove</button>
                <div class="price">{{product.price*product.quantity | number:'1.2-2' }} $</div>
            </div>
        </div>
        }
        }
        <div class="footer">
            <div class="text">
                <h3>Total</h3>
            </div>
            <div class="totalprice">
<h3>{{ getTotalFromItems() | number:'1.2-2' }} $</h3>
                
            </div>
        </div>

    </div>
</section>