.cards{
    margin-top: 5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem 1rem;
    justify-content: center;
}

.card {
     width: 30%;
  height: 38rem;
}
.header {
    text-align: center;
    width: 100%;
    h2{
    color: rgb(155, 155, 155);
}
}