<section class="Template-forms">
    <div class="container">
        <form #myform="ngForm" (ngSubmit)="submit(myform)" >
            <div class="input-div">
                <label for="email">Email address</label>
                <input type="email" name="email" ngModel #email="ngModel"
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.com$" required>
                @if(email.touched && email.errors){

                @if(email.getError('required')){
                <small>This Field is Required</small>
                }
                @if(email.getError('pattern')){
                <small>This email is not a valid format</small>
                }
                }
            </div>
            <div class="input-div">
                <label for="password">Password</label>
                <input type="password" name="password" ngModel #password="ngModel" required>
                @if (password.touched && password.errors) {
                @if (password.getError("required")) {
                <small>This Field is Required</small>
                }
                }
            </div>
            <div class="button-div">
                <button [disabled]="!myform.valid">Login</button>
            </div>
        </form>
    </div>
</section>